<header>
  <nav style="background-color: #eee; width: 100%">
    <ul
      style="
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
      "
    >
      <li><h2>Ecom Store</h2></li>
      <div
        style="
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 25px;
        "
      >
        <li><a href="#">Products</a></li>
        <li><a href="#">Order</a></li>
        <li><a href="#">Cart</a></li>
      </div>
    </ul>
  </nav>
</header>
